
<style>
  body {
    min-height: 100vh;
  }
.box_card {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    max-width: 360px;
    min-height: 68vh;
    margin: 30px auto;
    color: black;
}
@media screen and (max-width: 768px) {
  .box_card {
    min-height: 74vh;
  }
}
h2 {
  font-size: 14px;
  margin-bottom: 20px;
}
.btn_login {
  background: url(https://img.freepik.com/free-icon/google_318-278809.jpg);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 6px;
  background-color: rgb(0 55 255);
  color: #fff;
  padding: 12px 8px 12px 48px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  outline: none;
  transition: 0.5s;
}
.btn_login:hover {
cursor: pointer;
background-color: rgb(11 56 112 / 71%);
color: #fff;
box-shadow: 0 0 20px -2px rgba(71, 71, 71, 0.5);
transition: 0.5s;
}
.footer-widget{display: none !important;}
  </style>
  <div class="box_card">
  <div class="">
  <h1>Authentication</h1>
  <div id="user-signed-out">
    <h2>Untuk melanjutkan silahkan Sign In</h2>
    <button class="btn_login" id="sign-in-button">Sign in with Google</button>
  </div></div></div>
  <script type="module">
    const firebaseConfig = {
    apiKey: "{{ site.env.API_KEY }}",
    authDomain: "{{ site.env.AUTH_DOMAIN }}",
    databaseURL: "{{ site.env.DATABASE_URL }}",
    projectId: "{{ site.env.PROJECT_ID }}",
    storageBucket: "{{ site.env.STORAGE_BUCKET }}",
    messagingSenderId: "{{ site.env.SENDER_ID }}",
    appId: "{{ site.env.APP_ID }}",
    measurementId: "{{ site.env.MEASUREMENT_ID }}"
    };firebase.initializeApp(firebaseConfig);const auth=firebase.auth();const userSignedInDiv=document.getElementById('user-signed-in');const signInButton=document.getElementById('sign-in-button');function toggleUI(){if(auth.currentUser){location.href="{{site.baseurl}}/checkout"}else{}}
signInButton.addEventListener('click',()=>{const provider=new firebase.auth.GoogleAuthProvider();auth.signInWithPopup(provider)});auth.onAuthStateChanged(user=>{toggleUI()})
  </script>