    <div class="col">
        <div class="card shadow-sm">
            <a href="{{post.url}}">
          <img class="img-fluid lazyimg rounded" src="{{site.baseurl}}/images/logo/placeholder.png" data-src="{{site.baseurl}}{{ post.featured_image_path }}" alt="{{ post.title }}"/>
            <div class="overlays"></div>
            </a>
            <div class="card-body bg-light text-center">
              <p class="fs-6 fw-bold">{{ post.title }}</p>
              <p class="mb-0 fs-6 text-danger">Rp. {{ post.price }}</p>
            </div>
        </div>
    </div>
