<div class="modal search fade" id="search-modal" data-bs-backdrop="static">
    <button type="button" class="btn-close-light" data-bs-dismiss="modal"></button>
    <div class="modal-dialog">
        <div class="modal-content" style="top:45px;">
            <div class="modal-body">

                <form class="forms" id="gh-search-input" method="get" target="_top">
                    <div class="input-group">
                        <input type="search" class="search-input form-control" placeholder="Apa yang kamu cari..?"
                            id="search-input" name="q" />
                    </div>
                </form>
                <div id="results-container"></div>
            </div>
        </div>
    </div>
</div>
