.card {
    .overlays {
        background: rgb(248,249,250);
        background: -moz-linear-gradient(0deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 2%, rgba(255,255,255,0) 35%);
        background: -webkit-linear-gradient(0deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 2%, rgba(255,255,255,0) 35%);
        background: linear-gradient(0deg, rgba(248,249,250,1) 0%, rgba(248,249,250,1) 2%, rgba(255,255,255,0) 35%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8f9fa",endColorstr="#ffffff",GradientType=1);
        width: 100%;
        height: 85%;
        position: absolute;
        top: 0;}
}
.card-body {
    flex: 1 1 auto;
    padding: 0.5rem 0.5rem !important;
    z-index: 1;
}

.kartu_iklan:hover .image {
  opacity: 0.5;
}

.kartu_iklan:hover .middle {
  opacity: 1;
}

.kartu_iklan {
    height: 200px;
    margin: 20px 0;
    overflow: hidden;
    .thumb_img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        object-position: center;
        opacity: 1;
        display: block;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
        }

    .middle {
      transition: .5s ease;
      opacity: 0;
      position: absolute;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }
}
.footer-widget {
    grid-gap: 18px;
    flex-direction: row;
@include mobile {
    flex-direction: column;}
    .widget {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .icon-widget {
        margin-right: 1rem !important;
        color: darkgray;
        width: 100px;
        text-align: center;
    }
    .widget-tex {
        width: -webkit-fill-available;
        .text-muted {
            font-size: 15px;
        }
        .fw-light {
            font-size: 13px;
        }
    }
}
