.cart-sidebar-footer {
    background: none repeat scroll 0 0;
.btn {
    border: medium none;
    border-radius: 8px !important;
    font-size: 13px;
    }
}
.cart-store-details p {
    margin: 0 0 3px;
}
.cart-sidebar-footer .btn {
    padding: 15px 17px;
    width: -webkit-fill-available;
}
.cart-sidebar-body {
    height: 55.5vh;
    overflow: inherit;
}

.fs-12 {
    font-size: 12px;
}
