.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;

a.nav-link {
    color: #fff;
    background: transparent;
    border-radius: 5px;}
a.nav-link:hover {color: $primary;
             background: $light;
             border-radius: 5px;}
}
.offcanvas {
    background: $dark;
    .offcanvas-title {color: $light !important;
        }
    .btn-close {
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    border: 0;
    border-radius: 0.25rem;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAKpJREFUOE+11L0NAjEMhuH3q9gFWhpKlmACJqNkCTo6SliEAYyMcicBiZ2TQsrE98g/l4hBS+6Y2QVYAUdJjx7bzNbACXhK2k/QFdgBd+CQYQU5AxvgJmk7Qa5PByH2hcyxb6iUl2ItxL+foQyLkB+ohZWkw9I/MgrK9CNvbLN/VaiSmW+FQ/gvVGns8tJq01nc7GjE3ePPArP/bOwVMbNhl3bMM9Lz/mQxL/AknBOM6fydAAAAAElFTkSuQmCC');
    background-size: cover;
    background-position: center;
    padding: 2px;
    margin-right: 2px;}
}
.top-4 {
    top: 32%;
}
.start-96 {
    left: 96% !important;
@include mobile {
    left: 86% !important;
    top: 32%;}
}

.search{
    background: rgba(255, 255, 255, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
        .modal-content{
               background-color: #fff0;
               box-shadow: none;
               border: 0;}
}
