$primary: #3F51B5;
$enable-shadows: true;
$prefix: "mo-";
$enable-button-pointers: true;
$enable-caret: false;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
@import "node_modules/bootstrap/scss/bootstrap";
@import "body";
@import "toggler";
@import "offCanvas";
@import "cardCustom";
@import "buttonsCustom";
@import "cartSide";
@import "preloader";
@import "product_post";
