$shadow: #00000033 0px 3px 1px -2px, #00000024 0px 2px 2px 0px, #0000001f 0px 1px 5px 0px;
// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth; } 
}
body {
    padding-top: 56px;
}

body.dark_mode {
  color: $gray-100;
  background-color: $dark;
}.carousel {
    position: relative;
    .h-500 {
        max-height: 500px;
        object-fit: cover;
        height: 453px;
        width: 100%;
        object-position: center;
        @include mobile{
    object-fit: scale-down;
    height: auto !important;}
    }
}

a {text-decoration: none;}

.navbar-brand .icon_header {
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 8px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: $light; 
  border-radius: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: $dark; 
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#toTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 25px;
  border: none;
  outline: none;
  background-color: $dark;
  color: $white;
  cursor: pointer;
  line-height: 0;
  padding: 9px 14px;
  border-radius: 50%;
  box-shadow: $shadow;
}

#toTop:hover {
  background-color: $secondary;
}
.hidden { display:none; }

.flex_items_center {
    display: flex;
    align-items: center;
    grid-gap: 0 4px;}

